// Here you can add other styles

// Here you can add other styles

.card-header-actions {
  display: inline;
  float: right;
}

.table {
  .row {
    border-bottom: solid #DDDDDD 1px;
  }

  .row:hover {
    background-color: #EEEEEE;
  }

  .header {
    div {
      padding: 10px 30px;
    }
  }

  .form-control {
    border: none;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: transparent;
  }

  select.form-control {
    margin-top: 6px;
  }

  .form-group {
    margin-bottom: 0px;
  }
}

.card-header i {
  margin-right: 10px;
}

input.form-control, select.form-control, a.form-control, span.form-control, textarea.form-control {
  border: none;
  border-bottom: solid #DDDDDD 1px;
  padding: 0px;
}
input.form-control:hover, select.form-control:hover, a.form-control:hover, span.form-control:hover, textarea.form-control:hover {
  background-color: #ffffdd;
}

div.form-control {
  border: none;
  padding: 0px;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(1.2rem + 2px);
}

.input-group-btn {
  min-width: 20px;
}

.input-group-btn button {
  padding: 2px;
}

label {
  font-size: 10px;
}

hr {
  width: 100%;
}

.light-grey {
  color: $gray-500;
}

.big {
  font-size: 200%;
}

.inline-control {
  border: none;
  font: inherit;
  padding: 0px;
  background-color: transparent;
  border-bottom: solid #DDDDDD 1px;
}

.inline-control:hover {
  background-color: #ffffdd;
}